body{
    background-color: #e7f4ff;
}

h1{
    background-color: #157263;
    color : #4ca7a4;
    text-align: center;
}
.menu{
    background-color: #c8e3f5;
    color : #f9f9f9;
    text-align: center;
    font-family: Arial, sans-serif;
}
a:hover{
   color :#164f6e
}
.section{
    background-color: #fcfeff;
}
h2{
    color :#085F7D
}
li:hover{
    background-color: #c1eff5;
    color : rgb(24, 57, 165);
}
.footer{
    background-color: #054305;
    color : #f8f8f8;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border: 1px solid #09274e;
}

th {
    background-color: #19698e;
    color: #085F7D;
    padding: 12px;
    border: 1px solid #0b1b31;
    text-align: center;
    font-weight: bold;
}

td {
    padding: 15px;
    border: 1px solid #153661;
    color: #000000;
    font-size: 14px;
    background-color: #ffffff;
}

tr:hover td {
    background-color: #a3c3e0; 
}
.section {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

label {
    display: block;
    color: #085F7D;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, textarea {
    display: inline-block;
    margin-bottom: 15px;
    color: #333;
}

input[type="submit"] {
    background-color: #00A896;
    color: #ffffff;
    border: 2px solid #000000;
    font-weight: bold;
}